h1,h2 {
    padding-bottom:6px;
    border-bottom-width:6px;
}
h1 {
    border-bottom-style:solid;
    border-bottom-color:#c33;
}
h2 {
    border-bottom-style:double;
    border-bottom-color:#33c;
}

pre {
    padding:2px 2px 2px 10px;
    border:solid 1px #ccc;
    font-size:12px;
    background-color: #FFFAF0;
}
code {
    font-family: "M+2VM+IPAG circle", "Monaco", "Courier New", monospace;
    font-size: 14px;
    color: #000;
}
